.ButtonStyle{
    background-color: rgba(254, 172, 13, 1);
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 3px;
    border: 0;

    max-width: 321px;
    line-height: 25px;
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
}

.ButtonStyle:active {
    background-color: rgb(183, 128, 18);
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}