.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AuthorizationStyles {
    background-color: #232532;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;

    background-color: #3C3F4F;
    border-radius: 15px;

    width: 500px;
    height: 300px;
    text-align: center;
}

.InputStyle{
    height: 45px;
    width: 380px;

    margin-bottom: 15px;
    border-radius: 5px;

    color: rgba(253, 251, 251, 0.8);
    font-size: 20px;
    background-color: #232532;
}

.Title{
    margin-bottom: 15px;
    color: rgba(238, 232, 232, 0.8);
}

/*========================================================================ButtonStyle*/
.ButtonStyle{
    background-color: rgba(254, 172, 13, 1);
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 3px;
    border: 0;

    width: 321px;
    height: 48px;
    line-height: 25px;
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.ButtonStyle:active {
    background-color: rgb(183, 128, 18);
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

/*========================================================================ButtonStyle*/



