.wrapper{
    display: flex;
}

.ButtonWrapper {
    padding: 0 15px;
}

/* TodoItem ==========================================================================*/

.TodoItem{
    max-width: 500px;
    border: 2px solid #a69d9d;
    background-color: #3C3F4F;
    border-radius: 15px;

    font-size: 25px;
    padding: 10px 15px;

    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}

.TodoItemActive {
    transform: scale(1.05, 1.05);
    background-color: #656a83;
    transition: all 0.5s ease 0s;
}

.TodoItemWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    word-break: break-all;
}

.TodoItemText {
    min-width: 400px;
    display: flex;
}

.TrashIcon{
    width: 25px;
    height: 25px;
}

/* TodoItem ==========================================================================*/


/* button ==========================================================================*/

.ButtonStyle{
    background-color: rgba(254, 172, 13, 1);
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    border: 0;

    width: 45px;
    height: 45px;
    line-height: 25px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.ButtonStyle .active {
    background-color: rgb(183, 128, 18);
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

/* button ==========================================================================*/